#img-div {
    
    text-align: center; 
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
}
#image  {
     display:block;
     width:100%;
     height: auto; 
     max-width: 100%; 
 
     max-height: 379px; 
     margin-left: auto; 
     margin-right: auto; 
     margin-top: 0px; 
     margin-bottom: 0px;
}
#title {
    text-align: center;
    font-family: 'Krona One';
}
#main{
    width: 720px;
    display: block;
    background-color: red;
}
#tribute-info {
    text-align: left;
    

}
#tribute-link {
    text-decoration: none;

}
#img-caption {
    font-family: 'Teko';
    text-shadow: 3px 3px seagreen;
}